.logo-img {
  display: block;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.acesse-text {
  text-align: center;

  span {
    color: #3e3e3e;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 32px;
  }
}

.form-wrapper {
  width: 100%;
}

input {
  border-radius: 16px 16px 16px 16px;
  border: none;
  background-color: #f7f7fd;
  width: 100%;
  outline: none;
  height: 64px;
  font-size: 12px;
  line-height: 120%;
  -webkit-tap-highlight-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus{
  border: 1px solid #F7B686;
}

input[type="email"] {
  margin-top: 32px;
  margin-bottom: 16px;
}

input[type="password"],
input[type="text"] {
  margin-bottom: 24px;
  padding-left: 10px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  background-color: #fe4400;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 64px;
  line-height: 120%;
}
