.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.acesse-text {
  text-align: center;
  h1 {
    color: #3e3e3e;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
  }
}

.form-wrapper {
  width: 100%;
}

input {
  border-radius: 16px 16px 16px 16px;
  border: none;
  background-color: #f7f7fd;
  width: 100%;
  outline: none;
  height: 64px;
  font-size: 12px;
  line-height: 120%;
  -webkit-tap-highlight-color: transparent;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus {
  border: 1px solid #f7b686;
}

input[type="email"] {
  margin-top: 32px;
  margin-bottom: 16px;
}

input[type="password"],
input[type="text"] {
  padding-left: 10px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  background-color: #fe4400;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 64px;
  line-height: 120%;
}

button:hover:enabled {
  background-color: #d03800;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 568px) {
  .logo-img {
    margin-bottom: 7vh;
  }

  .acesse-text {
    span {
      margin-bottom: 5.5vh;
    }
  }
  input[type="password"],
  input[type="text"] {
    margin-bottom: 4vh;
  }

  input[type="email"] {
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
}

@media screen and (min-width: 568px) {
  .logo-img {
    margin-bottom: 4vh;
  }

  .acesse-text {
    span {
      margin-bottom: 3vh;
    }
  }
  input[type="password"],
  input[type="text"] {
    margin-bottom: 2vh;
  }

  input[type="email"] {
    margin-top: 2.5vh;
    margin-bottom: 1.5vh;
  }
}

.onboarding-wrapper-wrapper {
  margin-bottom: 54px;
}

.onboarding-img {
  width: 100%;
  @media screen and (min-width: 568px) {
    border-radius: 16px 16px 0 0;
  }
}

.onboarding-icon {
  width: 45px;
  margin-bottom: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.onboarding-titulo {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

.onboarding-instructions {
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 10px;

  span {
    color: #fe4400;
  }
}

.arrow-left-animate:hover {
  cursor: pointer;
  transform: translate(-5px, 0px);
  transition: transform 400ms ease;
}

.arrow-right-animate:hover {
  cursor: pointer;
  transform: translate(5px, 0px);
  transition: transform 400ms ease;
}

.pode-deixar-btn {
  background-color: #fe4400;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 64px;
  line-height: 120%;
}

.pode-deixar-btn:hover {
  background-color: #d03800;
}
