header {
  padding: 0;
  img {
    cursor: pointer;
  }
  div{
    border-bottom: 1px solid #f4f4f4;
  }
}

.step-img {
  display: block;
  margin-top: 26px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}

.finish-wrapper{
  margin-bottom: 54px;
}

.finish-img {
  width: 100%;
  @media screen and (min-width: 568px){
    border-radius: 16px 16px 0 0;
  }
}

.step-text {
  text-align: center;
  margin-bottom: 16px;

  span {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
  }

  p {
    color: #000;
    font-size: 18px;
    line-height: 130%;
  }
}

button {
  background-color: #fe4400;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  height: 64px;
  line-height: 120%;
  margin-bottom: 16px;
}

.option1-btn {
  background: url("./../../assets/first-btn.svg") no-repeat scroll 0 0
    transparent;
  background-size: cover;
  text-align: left;
  padding-left: 25px;
}

.option2-btn {
  background: url("./../../assets/second-btn.svg") no-repeat scroll 0 0
    transparent;
  background-size: cover;
  text-align: left;
  padding-left: 25px;
}

.protocolo-wrapper{
    margin-bottom: 19px;
    p{
        color: #FE4400;
        font-size: 12px;
        cursor: pointer;
    }

    img{
        width: 15px;
        color: #FE4400;
    }
}

.person-card{
  background-color: #F7F7FD;
  border-radius: 16px 16px 16px 16px;
  margin-bottom: 8px;
  cursor: pointer;

  img {
    vertical-align: middle;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 7px 8px 7px 9px;
  }

  span{
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0px;
  }

}

.person-card-selected{
  background-color: rgba(254, 187, 162, 40%);
}

.fixed-list{
  height:430px;
  overflow:auto;
  margin-bottom: 32px;
}