<div class="browser-wrapper">
    <div class="container h-100">
        <header>
            <div class="d-flex justify-content-between align-items-center">
                <div class="p-2">
                    <img src="./../../assets/back-button.svg" alt="" (click)="goBack()">
                </div>
                <div class="p-2">
                    <img src="./../../assets/close-button.svg" alt="">
                </div>
            </div>
        </header>
        <div class="row min-vh-100 justify-content-center align-items-center">
            <div class="col-10 p-0">
                <div *ngIf="true"> 
                    <div class="step-1" *ngIf="showStep1" [@enterAnimation]>
                        <img src="./../../assets/person-location.svg" alt="" class="step-img">
                        <div class="step-text">
                            <span>E em qual escritório você<br>vai trabalhar?</span>
                        </div>
                        <button class="option1-btn" (click)="goForward()">Santos</button>
                        <button class="option2-btn" (click)="goForward()">São Paulo</button>
                    </div>
                    <div class="step-2" *ngIf="showStep2" [@enterAnimation]>
                        aaa
                    </div>
                    <div class="step-3" *ngIf="showStep3" [@enterAnimation]>
                        <img src="./../../assets/person-invite.svg" alt="" class="step-img">
                        <div class="step-text">
                            <span>Fulano(a), você quer<br>convidar alguém?</span>
                        </div>
                        <button class="option1-btn">Hoje não</button>
                        <button class="option2-btn">Quero sim</button>
                    </div>
                    <div class="step-list" *ngIf="false">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div *ngIf="false" style="width: 100%;">
    <div class="header-confirm">
        <img src="./../../assets/person-confirmation.svg" alt="" class="finish-img">
    </div>

    <div class="finish" *ngIf="false">
        <div class="step-text"><span>Tudo certo com seu agendamento, Fulano(a).</span>

        </div>
    </div>
    <div class="finish-list" *ngIf="true">
        <div class="step-text"><span>Prontinho, Fulano(a). Já enviamos os convites.</span>
            <p>Lembra de manter a distância dos colegas e de usar a máscara o tempo todo, ok?</p>
        </div>
    </div>
    <div class="protocolo-wrapper">
        <p>Acesse os protocolos de segurança</p>
        <img src="./../../assets/right-arrow.svg" alt="">
    </div>
    <button>Pode deixar</button>

</div> -->