<div class="browser-wrapper">
    <div class="container h-100">
        <header *ngIf="!showFinish">
            <div class="d-flex justify-content-between align-items-center">
                <div class="p-2">
                    <img src="./../../assets/back-button.svg" alt="" (click)="goBack()">
                </div>
                <div class="p-2">
                    <img src="./../../assets/close-button.svg" alt="" (click)="goHome()">
                </div>
            </div>
        </header>
        <div class="row min-vh-100 justify-content-center align-items-center" *ngIf="!showFinish">
            <div class="col-10 p-0">
                <div *ngIf="true">
                    <div class="step-1" *ngIf="showStep1" [@enterAnimation]>
                        <img src="./../../assets/person-location.svg" alt="" class="step-img">
                        <div class="step-text">
                            <span>E em qual escritório você<br>vai trabalhar?</span>
                        </div>
                        <button class="option1-btn" (click)="goForward()">Santos</button>
                        <button class="option2-btn" (click)="goForward()">São Paulo</button>
                        <img src="./../../assets/appointment-step-1.svg" alt="" class="step-img">
                    </div>
                    <div class="step-2" *ngIf="showStep2" [@enterAnimation]>
                        <div class="step-text">
                            <span>Em qual dia?</span>
                        </div> 
                        <div class="calendar-wrapper d-flex w-100 justify-content-center align-items-center">
                            <ejs-calendar locale='pt' [min]='minDate' [max]='maxDate'></ejs-calendar>
                        </div>
                        
                        <div class="step-text">
                            <span>Em qual período?</span>
                        </div>
                        <button (click)="goForward()">Agendar</button>
                        <img src="./../../assets/appointment-step-2.svg" alt="" class="step-img">
                    </div>
                    <div class="step-3" *ngIf="showStep3" [@enterAnimation]>
                        <img src="./../../assets/person-invite.svg" alt="" class="step-img">
                        <div class="step-text">
                            <span>Fulano(a), você quer<br>convidar alguém?</span>
                        </div>
                        <button class="option1-btn" (click)="finishAppointment(false)">Hoje não</button>
                        <button class="option2-btn" (click)="goForward()">Quero sim</button>
                        <img src="./../../assets/appointment-step-3.svg" alt="" class="step-img">
                    </div>
                    <div class="step-4" *ngIf="showStep4" [@enterAnimation]>
                        <div class="step-text">
                            <span>#SangueLaranja</span>
                        </div>
                        <div class="fixed-list">
                            <div class="person-card" (click)="onSelectCard()"
                                [ngClass]="{'person-card-selected': selected} ">
                                <img src="./../../assets/avatars/ana.jpg" alt="">
                                <span>Ana Luíza Gabatteli</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/matheus.jpg" alt="">
                                <span>Matheus Honorato</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/natan.jpg" alt="">
                                <span>Natã Menezes</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/jr.jpg" alt="">
                                <span>Stefânio Soares Junior</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/ana.jpg" alt="">
                                <span>Ana Luíza Gabatteli</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/matheus.jpg" alt="">
                                <span>Matheus Honorato</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/natan.jpg" alt="">
                                <span>Natã Menezes</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/jr.jpg" alt="">
                                <span>Stefânio Soares Junior</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/ana.jpg" alt="">
                                <span>Ana Luíza Gabatteli</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/matheus.jpg" alt="">
                                <span>Matheus Honorato</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/natan.jpg" alt="">
                                <span>Natã Menezes</span>
                            </div>
                            <div class="person-card">
                                <img src="./../../assets/avatars/jr.jpg" alt="">
                                <span>Stefânio Soares Junior</span>
                            </div>
                        </div>
                        <button (click)="finishAppointment(true)">Convidar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row finish-wrapper" *ngIf="showFinish" [@enterAnimation]>
            <img src="./../../assets/person-confirmation.svg" alt="" class="finish-img p-0">
        </div>
        <div class="row justify-content-center" *ngIf="showFinish" [@enterAnimation]>
            <div class="col-10 p-0 m-0">
                <div class="step-text" *ngIf="!invitedFriends"><span>Tudo certo com seu<br>agendamento,
                        Fulano(a).</span>
                </div>
                <div class="step-text" *ngIf="invitedFriends"><span>Prontinho, Fulano(a). Já<br>enviamos os
                        convites.</span>
                    <p>Lembra de manter a distância dos colegas e de usar a máscara o tempo todo, ok?</p>
                </div>
                <div class="protocolo-wrapper d-flex justify-content-center align-items-center">
                    <a href="https://pt.slideshare.net/FCamara_Consultoria?utm_campaign=profiletracking&utm_medium=sssite&utm_source=ssslideview" target="_blank">Acesse os protocolos de segurança</a>
                    <img src="./../../assets/right-arrow.svg" alt="">
                </div>
                <button (click)="goHome()">Pode deixar</button>
            </div>
        </div>
    </div>
</div>