<div class="browser-wrapper">
    <div class="container h-100" [@fade]>
        <header>
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <img src="./../../assets/back-button.svg" alt="" (click)="goBack()">
                </div>
            </div>
        </header>
        <div class="list-titulo">
            Meus agendamentos
        </div>
        <div class="fixed-list">
            <div class="custom-card d-flex justify-content-between">
                <div class="agendamento-info-wrapper p-2">
                    <div class="text-card">
                        <img src="./../../assets/calendar.svg" alt="">
                        3 de setembro de 2021
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/clock.svg" alt="">
                        Turno: Tarde
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/map-pin.svg" alt="">
                        São Paulo
                    </div>
                </div>
                <div class="icon-wrapper p-2">
                    <img src="./../../assets/trash.svg" alt="">
                </div>
            </div>

            <div class="custom-card d-flex justify-content-between">
                <div class="agendamento-info-wrapper p-2">
                    <div class="text-card">
                        <img src="./../../assets/calendar.svg" alt="">
                        3 de setembro de 2021
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/clock.svg" alt="">
                        Turno: Tarde
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/map-pin.svg" alt="">
                        São Paulo
                    </div>
                </div>
                <div class="icon-wrapper p-2">
                    <img src="./../../assets/trash.svg" alt="">
                </div>
            </div>

            <div class="custom-card d-flex justify-content-between">
                <div class="agendamento-info-wrapper p-2">
                    <div class="text-card">
                        <img src="./../../assets/calendar.svg" alt="">
                        3 de setembro de 2021
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/clock.svg" alt="">
                        Turno: Tarde
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/map-pin.svg" alt="">
                        São Paulo
                    </div>
                </div>
                <div class="icon-wrapper p-2">
                    <img src="./../../assets/trash.svg" alt="">
                </div>
            </div>

            <div class="custom-card d-flex justify-content-between">
                <div class="agendamento-info-wrapper p-2">
                    <div class="text-card">
                        <img src="./../../assets/calendar.svg" alt="">
                        3 de setembro de 2021
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/clock.svg" alt="">
                        Turno: Tarde
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/map-pin.svg" alt="">
                        São Paulo
                    </div>
                </div>
                <div class="icon-wrapper p-2">
                    <img src="./../../assets/trash.svg" alt="">
                </div>
            </div>

            <div class="custom-card d-flex justify-content-between">
                <div class="agendamento-info-wrapper p-2">
                    <div class="text-card">
                        <img src="./../../assets/calendar.svg" alt="">
                        3 de setembro de 2021
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/clock.svg" alt="">
                        Turno: Tarde
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/map-pin.svg" alt="">
                        São Paulo
                    </div>
                </div>
                <div class="icon-wrapper p-2">
                    <img src="./../../assets/trash.svg" alt="">
                </div>
            </div>

            <div class="custom-card d-flex justify-content-between">
                <div class="agendamento-info-wrapper p-2">
                    <div class="text-card">
                        <img src="./../../assets/calendar.svg" alt="">
                        3 de setembro de 2021
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/clock.svg" alt="">
                        Turno: Tarde
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/map-pin.svg" alt="">
                        São Paulo
                    </div>
                </div>
                <div class="icon-wrapper p-2">
                    <img src="./../../assets/trash.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>