<div class="browser-wrapper">
    <div class="container h-100" [@fade]>
        <header>
            <div class="d-flex justify-content-between">
                <div class="p-2">
                    <img src="./../../assets/back-button.svg" alt="Voltar" (click)="goBack()" class="back-button-animate">
                </div>
            </div>
        </header>
        <div class="list-titulo">
            Meus agendamentos
        </div>
        <div class="fixed-list" *ngIf="agendamentos">
            <div class="custom-card d-flex justify-content-between" *ngFor="let agend of agendamentos">
                <div class="agendamento-info-wrapper p-2">
                    <div class="text-card">
                        <img src="./../../assets/calendar.svg" alt="" aria-hidden="true">
                        {{agend.data | dateText}}
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/clock.svg" alt="" aria-hidden="true">
                        Turno: {{agend.turno | turnoText}}
                    </div>
                    <div class="text-card">
                        <img src="./../../assets/map-pin.svg" alt="" aria-hidden="true">
                        {{agend.estacao | SPText}}
                    </div>
                </div>
                <div class="icon-wrapper p-2">
                    <img src="./../../assets/trash.svg" alt="Deletar agendamento" class="trash-icon" (click)="cancelarAgendamento(agend.id)">
                </div>
            </div>
        </div>
    </div>
</div>