header {
  padding: 0;
  margin-bottom: 48px;
  img {
    cursor: pointer;
  }
  div {
    border-bottom: 1px solid #f4f4f4;
  }
}

.list-titulo {
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.fixed-list {
  height: 400px;
  overflow: auto;
  margin-left: 30px;
  margin-right: 30px;
}

.custom-card {
  background: #f7f7fd;
  border-radius: 16px;
  margin-bottom: 15px;
}

.text-card {
  font-size: 14px;
  line-height: 130%;
  color: #25282b;
  margin-bottom: 10px;
}

.agendamento-info-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-wrapper {
  margin-top: 10px;
  cursor: pointer;
}
