header {
  padding: 0;
  img {
    cursor: pointer;
  }
  div {
    border-bottom: 1px solid #f4f4f4;
  }
}

.back-button-animate:hover{
  transform: translate(-5px, 0px);
  transition: transform 400ms ease;
}

.list-titulo {
  font-size: 24px;
  line-height: 120%;
  color: #000;
  font-weight: 600;
  text-align: center;
}

.fixed-list {
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 70vh;
  
}

.custom-card {
  background: #f7f7fd;
  border-radius: 16px;
}

.text-card {
  font-size: 14px;
  line-height: 130%;
  color: #25282b;
  margin-bottom: 10px;
}

.agendamento-info-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
}

.icon-wrapper {
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
  header {
    margin-bottom: 5vh;
  }

  .fixed-list {
    height: 77vh;
  }

  .list-titulo {
    margin-bottom: 4vh;
  }

  .custom-card {
    margin-bottom: 2vh;
  }
}

@media screen and (min-width: 568px) {
  header {
    margin-bottom: 3vh;
  }

  .fixed-list {
    height: 50vh;
  }

  .list-titulo {
    margin-bottom: 2vh;
  }

  .custom-card {
    margin-bottom: 1.5vh;
  }
}

.trash-icon:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}
