.header {
  padding: 0;
  img{
    cursor: pointer;
  }
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-text {
  text-align: center;

  span {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }
}

.home-btn {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  height: 82px;
  line-height: 120%;
  text-align: left;
  padding-left: 25px;
}

.ver-agendamentos-btn {
  background-color: #FE4400;
}

.ver-agendamentos-btn:hover {
  background-color: #D03800;
}

.agendar-btn {
  background-color: #3E3E9D;
}

.agendar-btn:hover {
  background-color: #333380;
}

.onboarding-wrapper-wrapper {
  margin-bottom: 54px;
}

.onboarding-img {
  width: 100%;
  @media screen and (min-width: 568px) {
    border-radius: 16px 16px 0 0;
  }
}

.onboarding-icon {
  width: 45px;
  margin-bottom: 30px;
  margin-top: 15px;
  cursor: pointer;
}

.onboarding-titulo {
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 120%;
  color: #000;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

.onboarding-instructions {
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  margin-bottom: 10px;

  span{
    color: #fe4400;
  }
}

.arrow-left-animate:hover{
  cursor: pointer;
  transform: translate(-5px, 0px);
  transition: transform 400ms ease;
}

.arrow-right-animate:hover{
  cursor: pointer;
  transform: translate(5px, 0px);
  transition: transform 400ms ease;
}

.pode-deixar-btn {
  background-color: #fe4400;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  height: 64px;
  line-height: 120%;
}

.pode-deixar-btn:hover{
  background-color: #D03800;
}

.protocolo-wrapper {
  a {
    text-decoration: none;
    color: #fe4400;
    font-size: 12px;
    cursor: pointer;
  }

  img {
    width: 15px;
    color: #fe4400;
  }
}

@media screen and (max-width: 568px){
  .header {
    margin-bottom: 9vh;
  }

  .logo-img {
    margin-bottom: 11vh;
  }

  .welcome-text{
    margin-bottom: 3vh;
  }

  .home-btn{
    margin-bottom: 1.5vh;
  }

  .protocolo-wrapper{
    a,img{
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
    }
    
  }
  
}


@media screen and (min-width: 568px){
  .header {
    margin-bottom: 6vh;
  }

  .logo-img {
    margin-bottom: 6.5vh;
  }

  .welcome-text{
    margin-bottom: 3vh;
  }

  .home-btn{
    margin-bottom: 1.2vh;
  }

  .protocolo-wrapper{
    a,img{
      margin-bottom: 3vh;
    }
    
  }
}