<div class="browser-wrapper">
    <div class="container h-100" [@fade]>
        <div class="d-flex align-items-end flex-column p-4 header">
            <img src="./../../assets/power-off.svg" alt="Deslogar da conta" class="power-off-img power-off-animate"
                (click)="logout()">
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="col-10">
                <img src="./../../assets/logo-fcalendar.svg"
                    alt="Logo FCalendar."
                    class="logo-img">
                <div class="welcome-text" *ngIf="name">
                    <h1 >Olá, {{name | firstName}}.</h1>
                    <h1>O que você quer fazer?</h1>
                </div>
                <div *ngIf="innerWidth < 568">
                    <button class="home-btn ver-agendamentos-btn" (click)="goListAppointments()">Ver agendamentos</button>
                    <button class="home-btn agendar-btn" (click)="goAppointment()">Agendar</button>
                </div>
                <div *ngIf="innerWidth >= 568">
                    <button class="home-btn agendar-btn" (click)="goAppointment()">Agendar</button>
                    <button class="home-btn ver-agendamentos-btn" (click)="goListAppointments()">Ver agendamentos</button>
                </div>
            </div>
            <div class="protocolo-wrapper d-flex justify-content-center align-items-center m-0">
                <a href="https://www.slideshare.net/FCamara_Consultoria/plano-de-retomada-fcamara"
                    target="_blank">Acesse os protocolos de segurança</a>
                <img src="./../../assets/right-arrow.svg" alt="">
            </div>
        </div>
    </div>
</div>