.centering {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.logo-img {
    display: block;
    margin-bottom: 95px;
    margin-left: auto;
    margin-right: auto;
  }

.welcome-text {
  text-align: center;
  margin-bottom: 23px;

  span {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }
}

button {
    width: 100%;
    border-radius: 16px 16px 16px 16px;
    border: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    height: 64px;
    cursor: pointer;
    line-height: 120%;
    margin-bottom: 16px;
    -webkit-tap-highlight-color: transparent;
    
  }

.ver-agendamentos-btn{
    background: url('./../../assets/first-btn.svg') no-repeat scroll 0 0 transparent;
}

.agendar-btn{
    background: url('./../../assets/second-btn.svg') no-repeat scroll 0 0 transparent;
}