.header {
  padding: 0;
  img {
    cursor: pointer;
  }
}

.logo-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.welcome-text {
  text-align: center;

  h1 {
    color: #000;
    font-weight: 600;
    line-height: 120%;
  }

  @media screen and (max-width: 568px){
    h1{
      font-size: 3.75vh;
    }
  }

  @media screen and (min-width: 568px){
    h1{
      font-size: 24px;
    }
  }
}

.home-btn {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  height: 82px;
  line-height: 120%;
  text-align: left;
  padding-left: 25px;
}

.ver-agendamentos-btn {
  background-color: #3e3e9d;
}

.ver-agendamentos-btn:hover {
  background-color: #333380;
}

.agendar-btn {
  background-color: #fe4400;
}

.agendar-btn:hover {
  background-color: #d03800;
}

.power-off-animate {
  transition: transform 0.2s; /* Animation */
}

.power-off-animate:hover {
  transform: scale(1.25);
}

.protocolo-wrapper {
  a {
    text-decoration: none;
    color: #fe4400;
    font-size: 12px;
    cursor: pointer;
  }

  img {
    width: 15px;
    color: #fe4400;
  }
}

.protocolo-wrapper:hover{
  img{
    transform: translate(3px, 0px);
    transition: transform 400ms ease;
  }
}

@media screen and (max-width: 568px) {

  .header {
    margin-bottom: 10vh;
  }

  .logo-img {
    margin-bottom: 12vh;
  }

  .welcome-text {
    margin-bottom: 3vh;
  }

  .home-btn {
    margin-bottom: 2vh;
  }

  .protocolo-wrapper {
    a,
    img {
      margin-top: 1.5vh;
      margin-bottom: 1.5vh;
    }
  }
}

@media screen and (min-width: 568px) {
  .header {
    margin-bottom: 6vh;
  }

  .logo-img {
    margin-bottom: 6.5vh;
  }

  .welcome-text {
    margin-bottom: 3vh;
  }

  .home-btn {
    margin-bottom: 1.2vh;
  }

  .protocolo-wrapper {
    a,
    img {
      margin-bottom: 3vh;
    }
  }
}
