<div class="browser-wrapper" *ngIf="onOnBoarding">
    <div class="container h-100" *ngIf="onBoarding1" [@enterAnimation]>
        <div class="row onboarding-wrapper">
            <img src="./../../assets/img-onboarding-1.svg" alt="" class="onboarding-img p-0">
        </div>
        <div class="row justify-content-center">
            <img src="./../../assets/laranjinha.svg" alt="" class="onboarding-icon" (click)="goOnBoarding1()">
            <img src="./../../assets/circle.svg" alt="" class="onboarding-icon" (click)="goOnBoarding2()">
            <img src="./../../assets/circle.svg" alt="" class="onboarding-icon" (click)="goOnBoarding2()">
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="onboarding-titulo">
                O que você pode fazer?
            </div>
            <div class="onboarding-instructions">
                Agendar sua ida ao escritório.
            </div>
            <div class="onboarding-instructions">
                Ver o número de pessoas confirmadas em cada turno.
            </div>
            <div class="onboarding-instructions">
                Convidar colegas para ir com você.
            </div>
            <div class="onboarding-instructions">
                Cancelar agendamentos.
            </div>
            <div class="d-flex align-items-end flex-column p-5">
                <img src="./../../assets/arrow-right.svg" alt="" class="arrow-right-animate" (click)="goOnBoarding2()">
            </div>
        </div>
    </div>

    <div class="container h-100" *ngIf="onBoarding2" [@enterAnimation]>
        <div class="row onboarding-wrapper">
            <img src="./../../assets/img-onboarding-2.svg" alt="" class="onboarding-img p-0">
        </div>
        <div class="row justify-content-center">
            <img src="./../../assets/laranjinha.svg" alt="" class="onboarding-icon" (click)="goOnBoarding1()">
            <img src="./../../assets/laranjinha.svg" alt="" class="onboarding-icon" (click)="goOnBoarding2()">
            <img src="./../../assets/circle.svg" alt="" class="onboarding-icon" (click)="goOnBoarding3()">
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="onboarding-titulo">
                Convide colegas
            </div>
            <div class="onboarding-instructions">
                Com o FCalendar você pode<br>convidar até 10 <span>#SangueLaranja</span><br>para trabalhar com você.
            </div>
            <div class="onboarding-instructions">
                Aproveite para encontrar as<br>pessoas que até hoje só conheceu<br>pelas telas.
            </div>
            <div class="d-flex justify-content-between p-5">
                <img src="./../../assets/arrow-left.svg" alt="" class="arrow-left-animate" (click)="goOnBoarding1()">
                <img src="./../../assets/arrow-right.svg" alt="" class="arrow-right-animate" (click)="goOnBoarding3()">
            </div>
        </div>
    </div>

    <div class="container h-100" *ngIf="onBoarding3" [@enterAnimation]>
        <div class="row onboarding-wrapper">
            <img src="./../../assets/img-onboarding-3.svg" alt="" class="onboarding-img p-0">
        </div>
        <div class="row justify-content-center">
            <img src="./../../assets/laranjinha.svg" alt="" class="onboarding-icon" (click)="goOnBoarding1()">
            <img src="./../../assets/laranjinha.svg" alt="" class="onboarding-icon" (click)="goOnBoarding2()">
            <img src="./../../assets/laranjinha.svg" alt="" class="onboarding-icon" (click)="goOnBoarding3()">
        </div>

        <div class="row justify-content-center align-items-center">
            <div class="onboarding-titulo">
                Flexibilidade e segurança
            </div>
            <div class="onboarding-instructions">
                Você poderá escolher sua estação<br>de trabalho.
            </div>
            <div class="onboarding-instructions">
                Mas contamos com você para<br>manter a distância dos colegas e<br>usar a máscara o tempo todo, ok?
            </div>
            <div class="row p-3">
                <button class="pode-deixar-btn" (click)="dismissOnBoarding()">Pode deixar</button>
            </div>

        </div>
    </div>
</div>

<div class="browser-wrapper" *ngIf="!onOnBoarding">
    <div class="container h-100" [@fade] >
        <div class="d-flex align-items-end flex-column p-4 header">
            <img src="./../../assets/power-off.svg" alt="" class="power-off-img power-off-animate" (click)="logout()">
        </div>

        <div class="row justify-content-center align-items-center"> 
            <div class="col-10">
                <img src="./../../assets/logo-fcalendar.svg" alt="" class="logo-img">
                <div class="welcome-text" *ngIf="name">
                    <span>Olá, {{name | firstName}}.<br>O que você quer fazer?</span>
                </div>

                <button class="home-btn ver-agendamentos-btn" (click)="goListAppointments()">Ver agendamentos</button>
                <button class="home-btn agendar-btn" (click)="goAppointment()">Agendar</button>
            </div>
            <div class="protocolo-wrapper d-flex justify-content-center align-items-center m-0">
                <a href="https://www.slideshare.net/FCamara_Consultoria/plano-de-retomada-fcamara"
                    target="_blank">Acesse os protocolos de segurança</a>
                <img src="./../../assets/right-arrow.svg" alt="">
            </div>
        </div>
    </div>
</div>